In [5]:
import numpy as np
import pandas as pd
import keras

In [17]:
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense

In [8]:
# The code was removed by Watson Studio for sharing.

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [9]:
df = df_data_1

In [40]:
X = df.drop('Strength',axis=1)
y = df[['Strength']]

In [41]:
n = X.shape[1]

In [42]:
model = Sequential()
model.add(Dense(10,activation='relu',input_shape=(n,)))
model.add(Dense(1))
model.compile(optimizer='adam',loss='mean_squared_error')

In [43]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [44]:
model.fit(X_train,y_train,epochs=50)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
721/721 [==============================] - 1s 1ms/step - loss: 85130.0383
Epoch 2/50
721/721 [==============================] - 0s 158us/step - loss: 46024.0692
Epoch 3/50
721/721 [==============================] - 0s 137us/step - loss: 17959.9651
Epoch 4/50
721/721 [==============================] - 0s 145us/step - loss: 4721.6066
Epoch 5/50
721/721 [==============================] - 0s 136us/step - loss: 1901.8255
Epoch 6/50
721/721 [==============================] - 0s 140us/step - loss: 1692.5590
Epoch 7/50
721/721 [==============================] - 0s 160us/step - loss: 1641.2907
Epoch 8/50
721/721 [==============================] - 0s 151us/step - loss: 1585.1405
Epoch 9/50
721/721 [==============================] - 0s 149us/step - loss: 1530.5931
Epoch 10/50
721/721 [==============================] - 0s 141us/step - loss: 1473.9462
Epoch 11/50
721/721 [==============================] - 0s 137us/step - loss: 1419.9405
Epoch 12/50
721/721 [==============================] - 0s 141us/step - loss: 1367.1779
Epoch 13/50
721/721 [==============================] - 0s 194us/step - loss: 1287.6815
Epoch 14/50
721/721 [==============================] - 0s 133us/step - loss: 1107.0791
Epoch 15/50
721/721 [==============================] - 0s 143us/step - loss: 933.5951
Epoch 16/50
721/721 [==============================] - 0s 160us/step - loss: 785.2685
Epoch 17/50
721/721 [==============================] - 0s 140us/step - loss: 667.8121
Epoch 18/50
721/721 [==============================] - 0s 166us/step - loss: 574.6582
Epoch 19/50
721/721 [==============================] - 0s 160us/step - loss: 503.6435
Epoch 20/50
721/721 [==============================] - 0s 144us/step - loss: 443.3779
Epoch 21/50
721/721 [==============================] - 0s 141us/step - loss: 395.5671
Epoch 22/50
721/721 [==============================] - 0s 137us/step - loss: 355.0044
Epoch 23/50
721/721 [==============================] - 0s 139us/step - loss: 324.6845
Epoch 24/50
721/721 [==============================] - 0s 142us/step - loss: 304.5307
Epoch 25/50
721/721 [==============================] - 0s 144us/step - loss: 281.0746
Epoch 26/50
721/721 [==============================] - 0s 163us/step - loss: 259.2243
Epoch 27/50
721/721 [==============================] - 0s 152us/step - loss: 245.0588
Epoch 28/50
721/721 [==============================] - 0s 141us/step - loss: 230.2870
Epoch 29/50
721/721 [==============================] - 0s 141us/step - loss: 220.8447
Epoch 30/50
721/721 [==============================] - 0s 160us/step - loss: 209.8723
Epoch 31/50
721/721 [==============================] - 0s 148us/step - loss: 201.6109
Epoch 32/50
721/721 [==============================] - 0s 141us/step - loss: 193.9855
Epoch 33/50
721/721 [==============================] - 0s 140us/step - loss: 187.6764
Epoch 34/50
721/721 [==============================] - 0s 141us/step - loss: 178.7457
Epoch 35/50
721/721 [==============================] - 0s 159us/step - loss: 173.7107
Epoch 36/50
721/721 [==============================] - 0s 145us/step - loss: 172.1638
Epoch 37/50
721/721 [==============================] - 0s 165us/step - loss: 164.4086
Epoch 38/50
721/721 [==============================] - 0s 135us/step - loss: 159.8002
Epoch 39/50
721/721 [==============================] - 0s 161us/step - loss: 155.7205
Epoch 40/50
721/721 [==============================] - 0s 198us/step - loss: 153.2856
Epoch 41/50
721/721 [==============================] - 0s 164us/step - loss: 149.3318
Epoch 42/50
721/721 [==============================] - 0s 140us/step - loss: 145.5328
Epoch 43/50
721/721 [==============================] - 0s 160us/step - loss: 144.3817
Epoch 44/50
721/721 [==============================] - 0s 141us/step - loss: 140.7855
Epoch 45/50
721/721 [==============================] - 0s 166us/step - loss: 141.9744 0s - loss: 139.46
Epoch 46/50
721/721 [==============================] - 0s 140us/step - loss: 137.1178
Epoch 47/50
721/721 [==============================] - 0s 142us/step - loss: 134.3459
Epoch 48/50
721/721 [==============================] - 0s 164us/step - loss: 136.1613
Epoch 49/50
721/721 [==============================] - 0s 145us/step - loss: 131.6530
Epoch 50/50
721/721 [==============================] - 0s 161us/step - loss: 131.5482

In [45]:
from sklearn.metrics import mean_squared_error
predictions = model.predict(X_test)

In [46]:
print("Mean Squared Error: ",mean_squared_error(y_test,predictions))

Mean Squared Error:  147.6533909613513